# for pnpm
shamefully-hoist=true
auto-install-peers=true

@whizus:registry=https://gitlab.com/api/v4/projects/67593266/packages/npm/
//gitlab.com/api/v4/projects/67593266/packages/npm/:_authToken="${NPM_TOKEN}"